.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-inline-size: 0;
  padding-block-start: 10px;

  // No top padding under the toolbar on phones
  @media (max-width: 899px) {
    padding-block-start: 0;
  }
}

.main:focus {
  outline: none;
}
