.sidebar {
  position: sticky;
  inset-block-start: calc(var(--header-height) + 28px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-inline-size: 0;

  @media (max-width: 899px) {
    position: static;
  }
}
