.form {
  width: 100%;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;

  .input {
    flex: 1;
    border: none;
    outline: none;
  }

  .button {
    border: 1px solid black;
  }
}
