.item {
  width: 100%;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid rgba(0, 8, 16, 0.1);
  border-radius: calc(infinity * 1px);
  background-color: rgba(0, 8, 16, 0.1);
  backdrop-filter: blur(0.25rem);
  transition: all 0.15s ease-in-out;

  &.completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .text {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    &::placeholder {
      color: inherit;
    }
  }

  .button {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 8, 16, 0.1);
    border-radius: calc(infinity * 1px);
    background-color: rgba(0, 8, 16, 0.1);
    backdrop-filter: blur(0.25rem);
    transition: all 0.15s ease-in-out;

    &:active {
      transform: scale(0.9);
    }

    .icon {
      height: 1.5rem;
      opacity: 0.9;
    }
  }
}
